/* Mini reset */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dd,
header,
nav,
article,
section,
aside,
figure,
figcaption,
footer,
dl,
dd,
dt {
  margin: 0px;
  padding: 0px;
}

html {
  /* Hide persistent scrollbar in IE (10/11) and Edge */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

ul,
ol {
  list-style: none;
}
/* end mini reset */

:root {
  --color__site--background: #f7f7f7;
  --color__text--primary: #030303;
  --color__text--secondary: #6a6a6a;
  --color__text--tertiary: #898989;
}
body {
  background-color: var(--color__site--background);
  background-size: 100vmax;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 100%;
  line-height: 1.3;
  color: var(--color__text--primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
a {
  color: inherit;
}
.site-head {
  max-width: 65rem;
  margin: 0 auto;
  padding: 12rem 1rem 4.5rem;
}
.header {
  display: grid;
  grid-gap: 2rem;
  height: 5rem;
  margin-bottom: 6rem;
}

.header .header__logo {
  width: 100%;
  max-width: 18rem;
  align-self: center;
}
.header__text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.content {
  display: grid;
  grid-gap: 2rem;
}
.content > p:nth-of-type(1) {
  color: var(--color__text--secondary);
}
.content > p:nth-of-type(2) {
  color: var(--color__text--tertiary);
}
.social-links {
  grid-row: 3;
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  justify-content: start;
  color: var(--color__text--tertiary);
}
.social-link {
  width: 1rem;
  height: 1rem;
}
.social-link__icon:hover {
  color: var(--color__text--secondary);
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  padding: 1.5rem 1rem;
  grid-template-columns: 6.875rem 1fr;
  grid-column-gap: 2rem;
  align-items: center;
  z-index: 2;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
}
.fixed-nav--active {
  background-color: var(--color__site--background);
}
.fixed-nav__logo {
  overflow: hidden;
}
.fixed-nav__logo g {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.fixed-nav__border {
  opacity: 0;
  width: 100vh;
  min-width: 60rem;
  transition: opacity 0.2s ease-in-out;
}
.fixed-nav__logo g:nth-of-type(2) {
  transition-delay: 0.05s;
}
.fixed-nav--active .fixed-nav__logo g {
  transform: translateX(0);
}
.fixed-nav--active .fixed-nav__border {
  transition-delay: 0;
  opacity: 1;
}

.items {
  display: grid;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
}
.item {
  position: relative;
  padding-bottom: 1rem;
}
.item__image {
  width: 100%;
  background-color: #e2e2e2;
  height: auto;
  min-height: 12.5rem;
}
.item__title {
  font-size: 1.5rem;
}
.item__url {
  color: var(--color__text--secondary);
  font-size: 0.75rem;
}
.item__toggle {
  position: absolute;
  border: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  bottom: 0;
}
.item-tray {
  padding: 1rem 0;
  border-bottom: 2px solid #dddddd;
  top: 100%;
  left: 0;
}
.item:nth-of-type(3n - 1) .item-tray {
  left: calc(-100% - 2rem);
}
.item:nth-of-type(3n) .item-tray {
  left: calc(-200% - 4rem);
}

.item-tray__inner {
  display: grid;
  grid-column-gap: 1rem;
  align-items: end;
  grid-template-columns: 1fr 1fr;
}
.item-tray__image {
  height: 10rem;
  width: auto;
  display: none;
}
.item-tray__site-title {
  font-weight: 600;
  font-size: 1.5rem;
  display: none;
}
.item-tray__url {
  color: var(--color__text--secondary);
  display: none;
}
.item-tray__meta-title {
  color: var(--color__text--tertiary);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.item-tray__tags {
  text-transform: uppercase;
  color: var(--color__text--secondary);
  font-size: 0.75rem;
}
.item-tray__column--tags {
  grid-column: 1;
}
.item-tray__column--links {
  display: grid;
  grid-gap: 1rem;
  justify-content: end;
  grid-column: 2;
}
.item-tray__link {
  text-align: right;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
}
.item-tray__link--feed {
  color: var(--color__text--tertiary);
}
.item-tray__link svg {
  width: 0.75rem;
  position: absolute;
  bottom: 100%;
  right: 0;
}

@media (min-width: 32rem) {
  body {
    background-image: linear-gradient(to bottom, transparent, #e2e2e2);
  }
  .site-head {
    padding-top: 6rem;
  }
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
  .header:before,
  .header:after {
    content: '';
    background-image: url(/assets/images/dots-3x8.svg);
    background-repeat: no-repeat;
  }
  .header:before {
    background-position-x: 0%;
  }
  .header:after {
    background-position-x: 100%;
  }
  .content {
    grid-template-columns: 2fr 1fr;
  }
  .social-links {
    grid-row: unset;
    grid-column: 2;
  }
  .fixed-nav {
    padding: 2rem;
    background-color: transparent;
  }
  .item__image {
    max-width: 20rem;
  }
  .item__title {
    font-size: 1rem;
  }
  .item__toggle {
    display: block;
  }
  .item-tray {
    position: absolute;
    display: none;
    border-top: 2px solid #dddddd;
  }
  .item--active {
    margin-bottom: 13rem;
  }
  .item--active .item-tray {
    display: block;
  }
  .item-tray__inner {
    grid-template-columns: repeat(4, 1fr);
  }
  .item-tray__image {
    display: block;
  }
  .item-tray__site-title {
    display: block;
  }
  .item-tray__url {
    display: block;
  }
  .item-tray__column--tags {
    grid-column: auto;
  }
  .item-tray__column--links {
    grid-column: auto;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
}
