<li class="item" id="{{ item.data.url }}" data-tags="{{ item.data.tags | join(',') }}">
    <a href="{{ item.data.url  }}">
        <p class="visually-hidden">View site</p>
        <img class="item__image" src="{% cdnUrl item.data.url %}" loading="lazy" decoding="async" height="375" width="600" alt="" />
    </a>
    <details class="item__details" name="site-tray">
        <summary class="item__summary">
            <span class="item__title">{{ item.data.title }}</span>
            <span class="item__url">{{ item.data.url | cleanUrl }}</span>
            <span class="item__toggle">
                Details
                <svg viewBox="0 0 13 13" aria-hidden="true">
                    <use href="#arrow-up-right"></use>
                </svg>
            </span>
        </summary>
        <div class="item-tray">
            <div class="item-tray__inner">
                <img class="item-tray__image" src="{% cdnUrl item.data.url %}" loading="lazy" decoding="async" height="375" width="600" alt="" />
                <div class="item-tray__column">
                    <div class="item-tray__site-title">{{ item.data.title }}</div>
                    <a class="item-tray__url" href="{{ item.data.url }}">{{ item.data.url }}</a>
                </div>
                <div class="item-tray__column item-tray__column--tags">
                <div class="item-tray__meta-title">Tags</div>
                <div class="item-tray__tags">{{ item.data.tags | join(', ')}}</div>
                </div>
                <div class="item-tray__column item-tray__column--links">
                    {% if item.data.feed %}
                        <a class="item-tray__link item-tray__link--feed" href="{{ item.data.feed }}">
                        <svg viewBox="0 0 13 13" aria-hidden="true">
                            <use href="#arrow-up-right"></use>
                        </svg>
                        Go to feed
                    </a>
                    {% endif %}
                    <a class="item-tray__link item-tray__link--site" href="{{ item.data.url }}">
                        <svg viewBox="0 0 13 13" aria-hidden="true">
                            <use href="#arrow-up-right"></use>
                        </svg>
                        Go to site
                    </a>
                </div>
            </div>
        </div>
    </details>
</li>
