{% set meta = {
    title: "PersonalSit.es",
    description: "Personal sites are sick as hell, so this site was built so we can all discover each other's. This directory of links are by folks that want to share their site with the world.",
    url: "https://personalsit.es"
}
%}
<title>{{ meta.title }} | Yes we got hot and fresh sites</title>
<meta name="description" content="{{ meta.description }}">
<meta property="og:url" content="{{ meta.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ meta.title }}">
<meta property="og:description" content="{{ meta.description }}">
<meta property="og:image" content="{{ meta.url }}/assets/images/opengraph.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ meta.title }} | Yes we got hot and fresh sites">
<meta name="twitter:description" content="{{ meta.description }}">
<meta name="twitter:image" content="{{ meta.url }}/assets/images/opengraph.jpg">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="manifest" href="/assets/images/site.webmanifest">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#030303">
<meta name="msapplication-TileColor" content="#fefefe">
<meta name="theme-color" content="#fefefe">
{% for feed in feeds.items %}
    <link rel="alternate" type="application/rss+xml" title="{{ feed.text }}" href="{{ feed.url }}" />
{% endfor %}