<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal sites are awesome</title>
    <style>{% include "assets/css/global.css" %}</style>
    {% for feed in feeds.items %}
        <link rel="alternate" type="application/rss+xml" title="{{ feed.text }}" href="{{ feed.url }}" />
    {% endfor %}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/site.webmanifest" />
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#304682" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <meta name="msapplication-TileColor" content="#304682" />
    <meta name="msapplication-config" content="/assets/images/browserconfig.xml" />
    <meta name="theme-color" content="#304682" />
</head>
<body>
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>
</body> 
</html>
