{% extends "layouts/base.njk" %}
{% block content %}
    <header role="banner" class="site-head">
        <h1 class="header">
            <img class="header__logo" src="/assets/images/logo.svg" />
            <span class="header__text">{{ title }}</span>
        </h1>
        <article class="content">
            <ul class="social-links"> 
                {% for name, link in social %}
                    <li class="social-link">
                        <a class="social-link__icon" href="{{ link }}">
                            {# <img src="/assets/icons/{{name}}.svg"> #}
                            {% include 'icons/' + name + '.svg' %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {{ content | safe }}
        </article>
    </header>
    <main>
        <ul class="items">
            {% for item in collections.sites | shuffle %}
                <li class="item" id="{{ item.data.url }}">
                    <img class="item__image" src="/assets/screenshots/{{ item.data.title }}.png" />
                        <h3>{{ item.data.title }}</h3>
                        <dl>
                            <dt>Has RSS Feed</dt>
                            <dd>{{ 'Yes' if item.data.rss else 'No' }}</dd>
                            {% if item.data.updatesFeed %}
                            <dt>Updates feed</dt>
                            <dd><a href="{{ item.data.updatesFeed }}">{{ item.data.updatesFeed }}</a></dd>
                            {% endif %}
                            <dt>Tags</dt>
                            {% for tag in item.data.tags %}
                                {% if tag !== 'sites' %}
                                    <dd>{{ tag }}</dd>
                                {% endif %}
                            {% endfor %}
                        </dl>
                    <a href="{{ item.data.url }}" rel="external" class="block-link" aria-label="Go to this personal site"></a>
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
