<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'partials/meta.njk' %}
    <script>
      let urls = [{% for item in collections.randomRedirect | shuffle %}"{{ item.data.url }}",{% endfor %}];
      let random = urls[Math.floor(Math.random() * urls.length)];
      window.location.replace(random);
    </script>
</head>
<body>
    <p>Redirecting to random personal site ...</p>
</body> 
</html>
